<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule ^([0-9a-z]+)$ profile_user.php?username=$1 [L]


RewriteRule ^([0-9a-z]+)?ok=([0-9a-z]+)$ profile_user.php?username=$1&ok=$2 [L]

</IfModule>

<FilesMatch "\.(htm|html|php)$">
    <IfModule mod_headers.c>
        BrowserMatch MSIE ie
        Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
    </IfModule>
</FilesMatch>

Options -Indexes 

